<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: rgb(230, 4, 4);
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

</head>
<body>
    <a href="#"class="btn",target="blank">Button</a>
    
</body>
</html>